[submodule "shell-rust"]
	path = shell-rust
	url = git@github.com:rodrigomg/shell-rust.git
[submodule "hello_cargo"]
	path = hello_cargo
	url = git@github.com:rodrigomg/hello_cargo.git
[submodule "guessing_game"]
	path = guessing_game
	url = git@github.com:rodrigomg/guessing_game.git
[submodule "variables_rust"]
	path = variables_rust
	url = git@github.com:rodrigomg/variables_rust.git
[submodule "scalar_types_rust"]
	path = scalar_types_rust
	url = git@github.com:rodrigomg/scalar_types_rust.git
[submodule "compound_types_rust"]
	path = compound_types_rust
	url = git@github.com:rodrigomg/compound_types_rust.git
[submodule "functions_rust"]
	path = functions_rust
	url = git@github.com:rodrigomg/functions_rust.git
[submodule "branches_rust"]
	path = branches_rust
	url = git@github.com:rodrigomg/branches_rust
[submodule "loops_rust"]
	path = loops_rust
	url = git@github.com:rodrigomg/loops_rust
